/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex mono', sans-serif;
  background-image: var(--bg-image);
  font-size: var(--text-size);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  padding: 10px;
  color: var(--text-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  height: 100vh;
  max-height: 668px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.header__theme-menu {
  align-self: start;
  justify-self: end;
  padding-top: 64px;
  padding-right: 0px;
}

.header__theme-menu-item:not(:last-child) {
  padding-bottom: 13px;
}

.header__theme-menu-button {
  border: none;
  padding: 0 12px;
  background-color: inherit;
  text-transform: lowercase;
  color: var(--button-color);
  cursor: pointer;
  box-sizing: border-box;
}
.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid color-mix(in srgb, var(--button-color) 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--button-color);
}

.header__decoration {
  position: absolute;
  right: 28px;
  font-size: var(--text-size);
  color: var(--accent-color);
}

.header__decoration::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  top: 9px;
  margin-block-start: 9px;
  writing-mode: vertical-lr;
  box-shadow: 0px 0px 10px 4px var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--button-color);
  border-top: 1px solid var(--button-color);
  right: 0;
}

.decorated-zone::after {
  position: absolute;
  content: " ";
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  width: 25px;
  height: 25px;
  bottom: 20px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--text-titile-color);
  line-height: 83%;
  padding-bottom: 18px;
}

.header__discription {
  align-self: center;
  font-weight: 700;
  display: inline-block;
  margin-block-start: -41px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-decor-color);
  font-size: var(--text-size);
  font-weight: 800;
}

.section-title {
  font-size: var(--text-size);
  color: var(--text-title-decor-color);
  margin-block-start: 30px;
}

.list-item-title {
  margin-block-start: 21px;
  
}

.text-link {
  text-shadow: var(--text-shadow);
  text-decoration: none;
}

.text-link:hover {
  border-bottom: 1px solid var(--button-color);
}

.text-link:focus {
  outline: none;
  border: 1px solid var(--button-color);
}

.list-item-description {
  margin-block-start: 10px;
  line-height: 23.4px;
  font-weight: 400;
}
.section-description {
  margin-block-start: 20px;
}
.list-item-title_shifted {
  margin-block-start: 20px;
}
.section-info_reasons .list-item-title{
  font-weight: normal;
}
.section-info_reasons .section-title {
  margin-block-start: 50px;
}

.section-info_focus .section-title {
  margin-block-start: 49px;
}

.section-title-advice {
  margin-block-start: 21px;
}

.section-info_gallery .section-title {
  color: var(--text-decor-color);
  margin-block-start: 48px;
}

.section-info_gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.gallery-item {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  align-self: center;
  justify-self: center;
}

.footer {
  position: relative;
  display: flex;
  height: 100vh;
  max-height: 668px;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--text-titile-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}
.footer.decorated-zone::before {
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  top: 50px;
  right: 0;
}

.footer.decorated-zone::after {
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  left: 0;
  bottom: -30px;
}

@media (width >=768px) {
  .page {
    padding: 0;
    padding-right: 20px;
  }

  .header {
    max-height: 1024px;
  }

  .header__decoration {
    right: 30px;
    top: 20px;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__title {
    margin-block-start: 20px;
  }

  .header__theme-menu {
    align-self: center;
    margin-block-end: 25px;
  }

  .header__discription {
    max-width: 364px;
    justify-self: end;
  }

  .main {
    padding-left: 20px;
  }

  .section-info_two-column {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    margin-block-start: 30px;
  }

  .section-title {
    width: 236px;
    flex-shrink: 0;
  }

  .advice-list {
    margin-block-start: 10px;
  }

  .section-info_reasons {
    margin-block-start: 80px;
  }
  .section-info_reasons .section-title {
    grid-row: 1 / 2;
  }
  .section-info_reasons .title-decor {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    
  }
  .section-info_focus .section-title {
    grid-row: 1 / 3;
  }

  .section-info_focus .section-description {
    grid-column: 2 / 3;
    align-self: start;
    margin-block-start: 50px;
  }

  .section-info_focus .advice-list {
    grid-column: 2 / 3;
    margin-block-start: -20px
  }

  .section-info_gallery {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 30px;
  }

  .section-info_gallery .section-title {
    grid-column: 1/-1;
    width: auto;
    align-self: center;
  }

  .gallery-item:nth-child(2) {
    grid-column: span 2;

  }

  .gallery-item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery-item:nth-child(4) {
    grid-row: 3 / 5;
  }

  .gallery-item:nth-child(6) {
    grid-column: span 2;
  }

  .footer {
    max-height: 1024px;
    padding-top: 120px;
    padding-left: 15px;
  }

  .footer.decorated-zone::before {
    top: 75px;
  }

  .footer.decorated-zone::after {
    left: 20px;
    bottom: -40px;
  }
}

@media (width >=1024px) {
  .header__theme-menu {
    padding-top: 20px;
    padding-left: 20px;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 13px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__discription {
    max-width: 491px;
  }

  .section-title {
    width: min(315px, 35vw);
    flex-shrink: 0;
  }

  .section-info_two-column {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
  }

  .section-info_reasons .advice-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 0;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
  }
}